In [6]:
import pandas as pd

In [7]:
import os

# Define the folder names
main_folder = "/content/Q1"
raw_data_folder = os.path.join(main_folder, "raw_data")
cleaned_data_folder = os.path.join(main_folder, "Cleaned_data")

# Create the folders
os.makedirs(raw_data_folder, exist_ok=True)
os.makedirs(cleaned_data_folder, exist_ok=True)

# Confirm the folders were created
os.listdir(main_folder)

['.ipynb_checkpoints', 'clean_data', 'Cleaned_data', 'raw_data']

In [8]:
data_frame = pd.read_csv('Frailty(1).csv')
print(data_frame.to_string())

   Unnamed: 0.1  Unnamed: 0 Height Weight  Age Grip Strength Frailty
0             0           0  65.8    112   30            30       N
1             1           1  71.5    136   19            31       N
2             2           2  69.4    153   45            29       N
3             3           3  68.2    142   22            28       Y
4             4           4  67.8    144   29            24       Y
5             5           5  68.7    123   50            26       N
6             6           6  69.8    141   51            22       Y
7             7           7  70.1    136   23            20       Y
8             8           8  67.9    112   17            19       N
9             9           9  66.8    120   39            31       N

In [9]:
data_frame.isnull().sum()

Unnamed: 0.1     0
Unnamed: 0       0
Height           0
Weight           0
Age              0
Grip Strength    0
Frailty          0
dtype: int64

In [11]:
data_frame.to_csv('Q1/Cleaned_data/cleaned_data.csv')